@import url('https://fonts.googleapis.com/css2?family=BBH+Bogle&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
      font-family: "Poppins", sans-serif;
}
.hero_section{
    background-image: url(./assets/hero_section_img.avif);
    background-size: cover;
    background-position: center;
    height: 70vh;
    color: white;
}
.hero_section header .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
padding: 20px;
margin: 10px 35px;
}
.hero_section header .navbar a{
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
}
.hero_section header .navbar .nav_link{
    display: flex;
    gap: 25px;
}
.hero_section_container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: calc(70vh-60px);
}
.hero_section_container .hero_section_logo{
    width: 600px;
} 
.hero_section_title{
    font-size: 26px;
    text-align: center;
    font-weight: 400;

}
.hero_section_inputs{
    background-color: white;
    /* max-width: 80%; */
    width: 420px;
    /* height: 20px; */
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #f0f0f0;
    border-radius: 4px;
    height: 27px;
}
.hero_section_inputs input{
    outline: none;
    border: none;
    font-size: 11px;
    text-align: center;
    font-weight: 400;
}
.hero_section_inputs .hero_section_food{
    width: 65%;
}
.hero_section_inputs .hero_section_location{
    width: 35%;
    border-right: 5px solid #221d1d;
}
.user_link{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: white; */
    border: 1px solid white;
    color: black;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    display:none;
}
@media  screen and (max-width:600px) {
    .user_link{
        display: flex;
        padding-left: 20px;

    }
    .hero_section header .navbar .nav_link{
        display: none;
    }
    .hero_section header .navbar{
        margin-left: 20px;
    }
    .hero_section_container .hero_section_logo{
        width: 250px;
    }
    .hero_section_inputs{
        flex-direction: column;
        gap: 10px;
        background-color: transparent;
        border: none;
    }
    .hero_section_inputs input{
        width: 280px;
        height: 20px;
        border-radius: 5px;

    }
    
}
.container{
    width: 80%;
    margin: 10px auto;
}
.offers{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    /* background-color: #e6e3e3; */
    
    justify-content: center;
    
    
    align-items: center;
    
}
.offers .card{
    border-radius: 8px;
    border: 1px solid #f1f1f1;
    overflow: hidden;
transition: 300ms;
}
.offers .card:hover{
    scale: 1.05;
}
.offers img{
height: 190px;
width: 350px;
object-fit: cover;
object-position: center;
}