@import url('https://fonts.googleapis.com/css2?family=BBH+Bogle&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
      font-family: "Poppins", sans-serif;
}
.hero_section{
    background-image: url(./assets/hero_section_img.avif);
    background-size: cover;
    background-position: center;
    height: 70vh;
    color: white;
}
.hero_section header .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
padding: 20px;
margin: 10px 35px;
}
.hero_section header .navbar a{
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
}
.hero_section header .navbar .nav_link{
    display: flex;
    gap: 25px;
}
.hero_section_container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: calc(70vh-60px);
}
.hero_section_container .hero_section_logo{
    width: 600px;
} 
.hero_section_title{
    font-size: 26px;
    text-align: center;
    font-weight: 400;

}
.hero_section